@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;

}

body{
    color: #292F36;
}

h2{
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    margin-bottom: 20px;

    width: 100%;
}

h1{
    font-family: "DM Serif Display", serif;
    font-size: 85px;
}

h3{
    font-family: "DM Serif Display", serif;
    font-size: 22px;
    margin-bottom: 15px;
}

p{
    font-family: "Joste", sans-serif;
    font-size: 12px;
}
a {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    color: #292F36;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.container {
    max-width:1000px;
    margin: auto;
}

.btn{
 background-color: #292F36;
 color: white;
 padding-left: 31px;
 padding-right: 31px;
 padding-top: 26px;
 padding-bottom: 26px;
 display: inline-block;
 border-radius: 12px;
 margin-top: 40px;
}

.width30{
    width: 30%;

}

.width45{
    width: 45%;
}
.paddingTop150{
    padding-top: 150px;
}

.textCenter{
    text-align: center;
}
.gap20{
    gap: 20px;
}
/* HEADER */
.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

header {
    margin-top: 20px;
}

/* SECTION HERO */
.hero {
    background-image: url("asset/Banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0 0 0 200px;
    padding-top: 100px;

}

.pHero{
    font-size: 22px;
    margin-top: 40px;
}

/* SECTION DE VIE */

.width24{
    width: 24%;
}
.imageSectionDevie{
    border-radius: 0 200px 0 50px;
}
.inconCall{
    width: 30px;
}

.SECTIONDEVIE{
    margin-bottom: 15px;
}

.bold{
    font-weight: 700;
}

/* SECTION AVIE CLIENTS */

.card {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 15px;
}

.Avie{
    background-color: 
    #F4F0EC;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card > div{
    width: 70%;
    
}

.card>img {
    width: 20%;
}

.card>p{
    margin-top: 30px;
}

.nomProfil{
    font-family:"DM Serif Display", serif ;
    font-size: 20px;
}
/* SECTION PROJET */
.cardProjet{
    
}

.cardProjet>img{
    width: 100%;
}

.cardProjet>a{
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: #F4F0EC;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        

}